<div class="row mt-3 justify-content-center">
    <div class="card mt-3 mb-3 px-3" style="padding: 2em; border-radius:2em; background-color: rgba(255, 254, 254, 0.800);">

        <h1 class="text-center">Booking a car from us </h1>
        
        <div class="row">
            <div>
                <h4>How to book a car</h4>
                <ol>
                    <li>To rent a car you need to be logged in to an account. If you do not have an account, you can create one 
                        <a class="btn btn-secondary btn-sm rounded cardHover" asp-controller="Users" asp-action="Create">Here</a>
                    </li>
                    <li>While logged in, you can navigate to 'booking' and 'create booking', then pick the date and the type of car you would like to rent</li>
                    <li>You will now see a list of cars available in the specified category and timeperiod</li>
                    <li>Select a car of your choosing</li>
                    <li>Confirm your booking</li>
                    <li>Done!</li>
                </ol>
                <hr />
                <h4>Frequently asked questions:</h4>
                <p>Q: Do I have to wash the car after renting it?</p>
                <p>A: You do not have to wash or clean the car. But please check for and remove any trash or other belongings before returning the car. </p>
                <hr class="hr-blurred" />
                <p>Q: Why do I need to pay extra for drivers under 20? </p>
                <p>
                    A: This is because of the ensurance we provide to all our car-renters. For more information about insurance, please contact us 
                    <a class="btn btn-secondary btn-sm rounded cardHover" asp-controller="Home" asp-action="Contact">Here</a>
                </p>
                <hr class="hr-blurred" />
                <p>Q: Does the car have to be returned with a full tank of gas?</p>
                <p>A: Yes, but you can choose to pay a fee instead. </p>
                <hr class="hr-blurred" />
                <p>Q: Is there a daily mileage limit?</p>
                <p>A: No, we do not have a limit on our cars. </p>
                <hr class="hr-blurred"/>
                <p>Q: What is the return process?</p>
                <p>A: Leave the car in the assigned parkinglot, there are signs. Then you go in and leave the key at the front desk. 
                    We then look at the car together to determine the condition of the car, before signing a document. </p>
                <hr class="hr-blurred"/>
                <p>Q: What happens if the car is in an accident?</p>
                <p>
                    A: When picking up the car you get to make a few insurance choices. All our cars have insurance, as a maximum you have to pay for the deductibles. For more information 
                    <a class="btn btn-secondary btn-sm rounded cardHover" asp-controller="Home" asp-action="Contact">Contact</a> us
                </p>
                <hr class="hr-blurred" />
                <h4>Practical info</h4>
                <p> Pickup the car at our store AJJT at Storegate 5, 567 45 City.  </p>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29893168.278482098!2d38.400436199999994!3d23.851705000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c89fe055c1149%3A0x28cc4331268f8d06!2sAjjt%20Tailor!5e0!3m2!1ssv!2sus!4v1678667067982!5m2!1ssv!2sus" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <a class="btn btn-primary mt-2 btn-sm w-25 rounded" asp-action="Index">To bookings</a>
        </div>
    </div>
</div>
