@model Biluthyrning.ViewModels.ConfirmBookingVM
@{
}

<div class="row justify-content-center">
    <div class="w-50 card mt-3" style="padding: 2em; border-radius:2em; background-color: rgba(255, 254, 254, 0.800);">

        <h1>Step 1</h1>
        <h4>When do you want to rent?</h4>
        <hr />
        <div class="row">
            <div class="col">
                <form asp-action="SelectCar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                        @if (!ViewBag.DateValidation)
                        {
                            <span class="text-danger">StartDate must be set to before EndDate</span>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                        @if (!ViewBag.DateValidation)
                        {
                            <span class="text-danger">EndDate must be set to after StartDate</span>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="CarCategoryId" class="control-label">Car category</label>
                        <select asp-for="CarCategoryId" class="form-control" asp-items="ViewBag.CarCategory"></select>
                        <span asp-validation-for="CarCategoryId" class="text-danger"></span>
                    </div>
                    @if (ViewBag.UserType == "Admin")
                    {
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label">Username</label>
                            <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserNameList"></select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="UserId" value="@Convert.ToInt32(ViewBag.CurrentUserId)" />
                    }
                    <div class="form-group">
                        <input type="submit" value="Next" class="btn btn-success mt-2 btn-sm rounded" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="btn btn-primary btn-sm rounded mt-2" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
