<div class="row mt-3 justify-content-center">
    <div class="card bg-white bg-opacity-75 w-50" style="border-radius:2em; padding:2em;">
        <h3>Contact us!</h3>
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <p>Customer service: </p>
                <a class="btn btn-primary btn-sm rounded" href="mailto:abc@abc.com?Subject=Contact&Body=Hello" title="Contact us">Mail</a>
            </div>
            <div class="col-6 mb-2">
                <p>Call us :</p>
                <a class="btn btn-primary btn-sm rounded" href="tel:123456789" title="Contact us">Phone</a>
            </div>
            <hr />
            <p>Visit us: </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29893168.278482098!2d38.400436199999994!3d23.851705000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c89fe055c1149%3A0x28cc4331268f8d06!2sAjjt%20Tailor!5e0!3m2!1ssv!2sus!4v1678667067982!5m2!1ssv!2sus"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>
@{
}
