@model Biluthyrning.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    <div class="row justify-content-center">
        <div class="card mt-3 bg-white bg-opacity-75 w-50" style="padding:2em; border-radius:2em;">

            <h1 class="display-4">Welcome</h1>
            <h1 >Login to view content </h1>

            <div class="col">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="IsAdmin" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password"  type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="w-50 btn btn-success btn-sm rounded mt-2" />
                    </div>
                </form>                
                <div>
                    <h4 class="mt-4"> Don't have an account? </h4>
                    <a class="btn btn-secondary btn-sm rounded" asp-controller="Users" asp-action="Create" >Create new account here</a>
                </div>
                <div>
                    <h4 class="mt-4"> New here? </h4>
                    <a class="btn btn-secondary btn-sm rounded" asp-controller="Bookings" asp-action="Info">How to book a car</a>
                </div>
            </div>
        </div>
    </div>
</div>
