@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row mt-3 justify-content-center">

    <div class="card bg-white bg-opacity-75 w-50" style="border-radius:2em; padding:2em;">
        <div class="row">
            <div class="col">

                <h4>This page informs you of the data we collect and how we use it</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>
                    We store cookies on your computer for validation purposes.
                    We need to know who is logged where and to create the best user experience for you.
                </p>
            </div>
            <div class="col-6">
                <p>
                    We also store your booking history for reviewing purposes and to make sure you cannot
                    rent a car if it is already due to be rented during that time.
                </p>
            </div>

        </div>
    </div>

</div>



